body {

    max-width: 2000px;
    margin: 20px;
     background-image: url("vanderpump-background-4.png");
     background-repeat: no repeat;
     background-attachment: fixed;
     background-size: cover;
     background-position: center;
     
     
    


    

    
}

.center-text {
    text-align: center;
}

h1 {
    font-family: "forma-djr-deck", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 100px;
    color:purple;
    /* text-decoration-style: dotted; */
    
}

h2 {

     font-family: "forma-djr-deck", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 100px;
    color:purple;
    /* text-align: right; */

}

h3 {
     font-family: "forma-djr-deck", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 100px;
    color:purple;
    display:inline-block;
}




p{
    font-family: "forma-djr-deck", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color:purple;
    background-color:hotpink;

    animation: scroll-right 15s linear infinite;
    display: inline-block;
    margin-right: 10px;
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;

}

@keyframes scroll-right {
    0% {
        transform: translateX(-100%);

    }

    100% {
        transform: translateX(100%);
    }
}



 .scroll-box {
            width: 600px;
            height: 400px;
            padding: 15px;
             border: 30px solid;
      border-color: rgb(128, 128, 128);
            background-color:black; 
            overflow:scroll;
            justify-content: center;
            align-items: center;
            

 }



.gifs {

    width: 600px;
    height: 400px;
}

h4{
    display: flex;
     font-family: "forma-djr-deck", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: purple;
    
   
}


        /* scroll-box and text go side by side */


 .container {
  display: flex;      
  gap: 80px;           
}

.menu {
    display: flex;
    padding: 20px;
    background-color:hotpink;
    column-gap:100px;

    font-family: "forma-djr-deck", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color:purple;
}



.menu-text {

    background-color:greenyellow;
     font-family: "forma-djr-deck", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color:purple;
    cursor: pointer;

   


}

a {
    
    color: inherit;
}

.blurbs {

    width: 400px;
    height: 200px;
    display:flex;
    
}

.tv-buttons {

    width:690px;
    height:150px;
}

.audio {

    display: inline-block;
    margin-left: 50px;
}